body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  display: inline-block;
  transition: all .5s;
}

span.is-active {
  transform: translateY(-300px);

}